<div class="note-input-container">
  <label>Add a note</label>
  <input
    class="note-input"
    placeholder="What needs to be done?"
    autofocus=""
    (keyup.enter)="addNote()"
    [(ngModel)]="inputNote"
    required
  />
  <button class="button button-primary" (click)="addNote()">Add</button>
</div>
