<nav class="app-header navbar navbar-expand-lg">
  <a class="app-header-item navbar-brand" href="#">Sandbox Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <img src="/assets/icon-burger-menu.svg" class="navbar-toggler-icon" />
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul  class="navbar-nav mr-auto">
      <li  class="nav-item">
        <a  class="app-header-item nav-link" href="#">
          Home
        </a>
      </li>
      <li  class="nav-item">
        <a  class="app-header-item nav-link" href="/notes">
          Notes
        </a>
      </li>
    </ul>
  </div>
</nav>
