:host {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  min-height: 100%;

  .app-container-body {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
    margin: 0 15px;
    width: 100%;
  }
}