.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .app-container {
    display: flex;
    flex: 1 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}
