@import "../../../../core/core.variables.scss";

:host {

  .note-list-header {
    background-color: $blue;
    color: $white;
    font-weight: $semi-bold;
    margin: 10px 0;
    padding: 5px 10px;
    width: 100%;
  }

  .note-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-height: 30px;
    justify-content: space-between;
    padding: 2px 10px;

    &:hover {
      background-color: rgba($blue, 0.2);
    }
  }

  .note-item-complete {
    display: block;
    height: 20px;
    margin-right: 10px;
    width: 20px;
  }

  .note-item-title {
    display: flex;
    flex-grow: 1;
    max-width: calc(100% - 40px);
  }

  .note-item-icon {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    width: 20px;
  }
}