<div class="note-list-header">Note List ({{notes.length}})</div>
<div *ngIf="notes.length > 0" class="notes-list">
  <div *ngFor="let note of notes">
    <div class="note-item">
      <div class="note-item-complete" (click)="toggleNote(note.id)">
        <img *ngIf="note.isComplete === true" src="/assets/icon-complete.png" title="note completed" />
        <img *ngIf="note.isComplete === false" src="/assets/icon-uncomplete.png" title="note uncompleted" />
      </div>
      <span class="note-item-title">{{ note.title }}</span>
      <img class="note-item-icon" src="/assets/icon-trash.svg" (click)="deleteNote(note.id)" alt="delete note" />
    </div>
  </div>
</div>

<div *ngIf="notes.length === 0" class="notes-list">
  No note found
</div>