@import "../../../core/core.variables.scss";

:host {
  .home-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;

    .home-project {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 50px;
      width: inherit;
    }

    .home-project-icon {
      height: 66px;

      @include bp-md {
        height: 96px;
      }
    }

    .home-project-title {
      color: $blue;
      font-size: 22px;
      font-weight: 600;

      @include bp-md {
        font-size: 32px;
      }
    }

    .home-explain {
      text-align: left;
      width: 100%;
    }

    ul {
      width: 100%;
    }
  }
}